*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(68, 85, 85);
    font-size: 14px;
font-family: "Poppins", sans-serif;;
}
.container{
    width: 100%;
    height: 40px auto;
    margin-top: 100px;
   
}
.cont-box{
    background-color: rgb(84, 51, 116);
    display: flex;
}
.cont-left{
    flex-basis: 40%;
    padding: 35px;

}
.cont-right{
    flex-basis: 40%;
    padding: 35px;
    background-color: aqua;
    color: black;
    font-weight: 400;
}
h1{
    padding-bottom: 10px;
    letter-spacing: 2px;
    color: aqua;
    font-weight: 700;
}
.container p{
    margin-bottom: 2%;

}
p{
    color: black;
    font-weight: 700;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;

}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    outline: none;
}
textarea{
    width: 100%;
    border: 1px solid #695858;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: black;
}
button{
    background: #796ec2;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0);


}
.cont-left h3{
    font-weight: 600;
    margin-bottom: 30px;
    color: #1f352f;
}
.cont-left h3{
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}




.menu{
    width: 200px;
    height: 70px;
    float: left;
}
ul{
    float: left;
    justify-content: center;
    display: flex;
    align-items: center;
}
ul li{
    margin-left: 60px;
    list-style: none;
    font-size: 18px;
    margin-top: -100px;
}
ul li a{
    text-decoration: none;
    color: orange;
    font-family: Arial;
    font-weight: bold;
    transition: 0,5s ease-in-out;
}
ul li a:hover{
    color: aqua;

}
