.faq-icons{
    max-width: 800px;
    margin: 60px auto;
    background: #0B1D3A;
    padding: 40px;
    border-radius: 16px;
    color: white;
}
details:hover{
    background: aqua;
    color: black;
}



.faq-icons h2{
    text-align: center;
    color: aqua;
    margin-bottom: 25px;
}
details{
    background: rgba(255,255,255,0.05);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px 20px;
    border-left: 5px solid;
     border-top-right-radius: 0px;
     transition: background 0.3s ease;
}
summary{
    font-weight: 600;
    cursor: pointer;
}



.menu{
    width: 200px;
    height: 70px;
    float: left;
}
ul{
    float: left;
    justify-content: center;
    display: flex;
    align-items: center;
}
ul li{
    margin-left: 60px;
    list-style: none;
    font-size: 18px;
    margin-top: -70px;
}
ul li a{
    text-decoration: none;
    color: orange;
    font-family: Arial;
    font-weight: bold;
    transition: 0,5s ease-in-out;
}
ul li a:hover{
    color: aqua;

}
