*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: aliceblue;

}
.card-cont{
   display: flex;
   justify-content: center; 
   flex-wrap: wrap;
   margin-top: 40px;
}
.card{
    width: 325px;
    background-color: #fefefe;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 8px 2px 4px rgb(0, 0, 0.2);
margin: 20px;
}
.card img{
    width: 100%;
    height: auto;
}
.card-content{
   
    padding: 16px;
}
.cad-content h3{
   font-size: 28px; 
   margin-bottom: 8px;
}
.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
text-decoration: none;
margin-top: 15px;
border-radius: 5px;
color: white;
border-bottom-right-radius: 0px;
}




 .menu{
    width: 200px;
    height: 100px;
    float: left;}

 ul{
    float: left;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 0px;
}
 ul li{
    margin-left: 60px;
    list-style: none;
    font-size: 18px;
   margin-top: -20px;
}
ul li a{
    margin-top: 1px;
    text-decoration: none;
    color: orange;
    font-family: Arial;
    font-weight: bold;
    transition: 0,5s ease-in-out;
}
ul li a:hover{
    color: aqua;

}
