*{ 
    padding: 0;
    margin: 0;  
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(pic/log.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    height: 75px;
    width: 1200px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;

}

.logo{
    color: aqua;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 200px;
    height: 70px;
    float: left;
}
ul{
    float: left;
    justify-content: center;
    display: flex;
    align-items: center;
}
ul li{
    margin-left: 60px;
    list-style: none;
    font-size: 18px;
    margin-top: 27px;
}
ul li a{
    text-decoration: none;
    color: orange;
    font-family: Arial;
    font-weight: bold;
    transition: 0,5s ease-in-out;
}
ul li a:hover{
    color: aqua;

}
.search{
    
    width: 330px;
    margin-left: 470px;
    float: left;

}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 30px;
    background: transparent;
    border: 1px solid rgb(27, 104, 100);
    margin-top: 12px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    border-bottom-left-radius: 5px;
    padding: 10px;
    border-top-left-radius: 5px;

}
.btn{
    height: 37px;
    width: 100px;
    background: aqua;
    border: 2px solid rgb(161, 153, 29);
    color: orange;
    margin-top: 6px;
    border-radius: 10px;
    margin-left: 3px;
    font-size: 14px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    height: auto;
    width: 1200px;
    margin: auto;
    color: white;
    position: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Aerial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 48px;
    padding-left: 20px;
    margin-top: 9px;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height: 40px;
    background: aqua;
   margin-bottom: 10px;
   border: none;
   margin-left: 20px;
   font-size: 18px;
   cursor: pointer;
   border-radius: 10px;
   transform: .4s ease;
}
.content .cn a{
    text-decoration: none;
    transition: .3s ease;
    color: orange;
}
.cn:hover{
    background-color: white;
}
.content span{
    color: aqua;
    font-size: 60px;
}

.form{
    width: 265px;
    height: 387px;
    background: linear-gradient(to top, rgba(39, 190, 170, 0.8)50%,rgba(39, 190, 170, 0.8)50%);
    top: -20px;
    position: absolute;
    left: 870px;
    border-radius: 20px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: orange;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 2px;
    padding: 8px;
}
.form input{
    border-radius: 10px;
    font-family: Aerial;
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1.5px solid orange;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    color: white;
    margin-top: 30px;
    letter-spacing: 1px;
}
.form .input:focus{
    outline: none;
}
::placeholder{
 color: white;
 font-family: Aerial;
}
.btnn{
    width: 240px;
    height: 40px;
margin-top: 30px;
border: none;
border-radius: 10px;
background-color: rgb(255, 255, 255);
font-size: 18px;
cursor: pointer;
text-decoration: none;
transition: 0.4s ease;
}
.btnn:hover{
    background-color: aqua;
    color: red;
}
.btnn a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: rgb(216, 182, 30);
    font-weight: bold;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icon a{
    text-decoration: none;
    color: white;
}
.icon ion-icon{
    font-size: 27px;
    color: white;
    padding-left: 18px;
    padding-top: 5px;
    transition: 0.3s ease;

}
.icon ion-icon:hover{
    color: orange;
}






.dv{
  background-color:orangered;
    color:aqua;
    width: 170px;
    height: 190px;
    margin-top: 3px;
border-radius: 10%;
text-align: center;

}
.dv:hover{
    background-color: transparent;
    border: solid rgb(47, 165, 139);
    
}



.dv1{
    color: rgb(2, 2, 5);
    width: 170px;
    height: 190px;
    background-color: aqua;
   margin-left: 250px;
    margin-top: 3px;
border-radius: 10%;
text-align: center;
}

.home{
    background-color: black;
}
