*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
}
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(pics/ba.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;

}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 40px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    text-decoration: none;
    color:#333;
    font-weight: 400;
}
.login{
    color: orange;
    text-decoration: none;
    margin-right: 15px;
    font-weight: 400;
    
}
.down{
    
    text-decoration: none;
    color: orange;
    display: inline-block;
    padding: 14px 40px;
    font-size: 14px;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
border-radius: 30px;
 border-top-right-radius: 0px;
 transition: 0.5s;
}
.content{
    margin-top: 10px;
    max-width: 600px;

}
.content h1{
    font-size: 70px;
    color: orange;
}
.content p{
    letter-spacing: 2px;
    margin: 10px 0 30px;
    color: #333;
    animation-delay: 0.5s;
}
.content .down{
padding: 15px 80px;
font-size: 16px;
animation-delay: 1s;

}
.f-image.anim{
    animation-delay: 1.5s;
}
.down:hover{
    border-top-right-radius: 30px;


}
.f-image{

    width: 370px;
    position: absolute;
    bottom: 0;
    right: 10%;
       
}
.anim{
 opacity: 0;
 transform: rotateY(30px);
 animation: moveup 0.5s linear forwards;

}
@keyframes moveup{
    100%{
         opacity: 1;
 transform: rotateY(0px);
 
    }
}